
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* General Mobile first*/
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
h2{
    font-size: 24px;
}
.search-bar{
    width: 50vw;
    margin: auto;
}
/* Header */
.main-header {
    background-color: #EAC926;
    padding: 20px;
}
.logo{
    width: 50%;
}
.form{
    width: 50%;
}
.copy-header{
    font-size: 24px;
    font-weight: lighter;
    text-align: right;
}
.burger-bottom{
    display: block;
    background-color:#03264C;
    color: white;
    max-width: 50px;
    padding: 15px 0;
    margin: auto;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
}
.main-navbar{
    display: none;
}
.main-navbar ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
    
}
.formulario-register{
    padding: 20px 15px ;
}
.formulario-control {
    margin-bottom: 15px;
    font-style: italic;
    display: block;
}
.control-input{
    width: 100%;
    padding: 8px;
}
.control-buttom{
    background-color: blue;
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}
.main-navbar a{
    color: #222222;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    font-size: 17px;
}
/* Home banner */
.home-banner{
    display: flex;
}
.home-banner img{
   width: 100vw; 
}
 /* Main */ 
.price-discount{
    display: flex;
}
.price {
    text-align: right;
    width: 30%;  
    font-size: 18px;
    padding-right: 5px;
    margin: 0%;
}
.discount {
    text-align: left;
    width:  70%;
    padding-left: 5px;
    font-size: 16px;
    color: #39b54a;
    margin: 0%;
}    
.description {
    display: none;
    font-size: 16px;
    margin: 0%;
}
.main-section{
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    margin: auto;
}
.main-section h2{
    color: #666;
}
.main-section .section-products .section-article{
    margin: 5px 0 5px 0;
    background-color: #ffffff;
}
.main-section .section-products img{
    width: 100%;
}
.article-information{
    border-top: solid 1px #ebebeb;
    margin: 15px;
    position: relative;
}
.main-section .section-products .section-article .article-information i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: solid 1px #39b54a;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

/* Footer */

.main-footer .footer-options{
    text-align: center;
    color: #666;
}
.main-footer .footer-options h3{
    font-weight: bold;
}
.main-footer .footer-options i{
    color: #1259c3;
    width: 2em;
    margin: 10px;
}
@media(min-width:768px){
    /* Header */
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
    }
    .copy-header{
        max-width: 30%;
        text-align: right;
    }
    .burger-bottom{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
    margin: 0 5px;
    }
    /* Main */
    .main-section .section-products{
        display: flex;
        flex-flow: row wrap;
    }

    .description{
        display:block;
        font-weight: bold;
        color: #666;
    }
    .section-article{
        width: 40%;
        box-shadow: 0 0 10px rgb(100, 100,100);
    }

    }

@media(min-width:1200px){
    .logo{
        width: 250px;
    }
    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar{
        align-items: center;
    }
    .copy-header{
        margin: 0;
        max-width: none;
        font-size: 18px;
        font-weight: 400px;
    }
    .main-navbar{
        margin-top: 30px;
    }
    .main-navbar li{
        margin: 0 10px;
        }
    .main-navbar a{
        font-size: 19px;
        }
    /* Main */
    .main-section .section-products{
        display: flex;
        flex-flow: row wrap;
    }
    .section-article{
        width: 25%;
        box-shadow: 0 0 10px rgb(100, 100,100);
    }
}